$icomoon-font-family: "profite-icon" !default;
$icomoon-font-path: "fonts" !default;

$ico-close: "\e90a";
$ico-account: "\e900";
$ico-arrow: "\e901";
$ico-cart: "\e902";
$ico-cart-add: "\e903";
$ico-headset: "\e904";
$ico-mail: "\e905";
$ico-menu: "\e906";
$ico-profite-logo: "\e907";
$ico-search: "\e908";
$ico-vtex-logo: "\e909";

