body {
    background: $white !important;
	color: $black;
	font-size: 14px;
    font-family: $font-primary !important;
    line-height: normal;
    font-smoothing: antialiased;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0);
    text-stroke: 1px transparent;
    text-rendering: optimizeLegibility;

    .wrapper {
        width: 100%;
        max-width: 985px;
        margin: auto;
        padding: 0 20px; 
        background-image: url();
    }
}

a {
    color: $black;
    text-decoration: none;
}

.fullGallery {
}